 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo img{
    width: 300px;
    margin: 20px 20px;
}
section.conte {
    height: 100vh;
    width:auto;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.header-img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url(images/home-img.jpg);
}

.nav{
    position:absolute;
    top:0;
    right:0;
}
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

  /* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    margin: 40px 20px;
    
    
}

  /* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #6c798a;
    transition: 0.5s;
    position: absolute;
}

  /* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 8px;
}

  /* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 8px;
}

  /* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
}

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}
    
/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 100%;
    left: 0%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgba(108,121,138,0.5);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
}

  /* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    margin-top:20px;
}

.nav_item a {
    font-size:40px;
    color: #fff;
    text-decoration: none;
    margin-top: 10pt;
    
}

  /* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    bottom: 0;/* メニューを画面に入れる */
    
}





.parent {
    display: table;
    width: 100%;
}

.main-title{
    text-align: center;
    padding: 40px;
    color: #6c798a;
    font-size: 20px;
    border-bottom:1px #6c798a solid;
    height: fit-content;
}

.work-title,
.work-img {
    display: table-cell;
    width: 50%;
}

.work-title{
    color: #6c798a;
    text-align:center;
    font-size:40px;
    vertical-align:middle;
    font-family: 'Klee One', cursive;
    font-weight: lighter;
}

.work-img img{
    width:80%;
    margin:10%;
}

.footer{
    border-top:1px #6c798a solid;
    width: 100%;
}

.footer-logo img {
    width: 150px;
    padding: 10px;
}
